rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /applications/{document} {
      allow read, write: if true;
    }
    match /defaulters/{document} {
      allow read, write: if true;
    }
  }
}
